src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.lyf.cn/schema/li"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.lyf.cn/schema/li"
            elementFormDefault="qualified">

  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

  <xsd:element name="user">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
      <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
      <xsd:attribute name="pass" type="xsd:string"></xsd:attribute>
      <xsd:attribute name="email" type="xsd:string"></xsd:attribute>
      <xsd:attribute name="addr" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>